{
  "name":"wallen-sipros-ensemble test-1536383030",
  "appId": "wallen-sipros-ensemble-1.3",
  "batchQueue": "normal",
  "executionSystem": "hpc-tacc-wrangler-wallen",
  "maxRunTime": "02:00:00",
  "memoryPerNode": "1GB",
  "nodeCount": 1,
  "processorsPerNode": 1,
  "archive": true,
  "archiveSystem": "data-tacc-work-wallen",
  "archivePath": "/",
  "inputs": {
    "configuration_file": "agave://data-tacc-work-wallen/sd2e/sample/sipros/VN2DLC_Sipros_TACC.cfg",
    "ms2_file": "agave://data-tacc-work-wallen/sd2e/sample/sipros/JH_UAST_6prot5.ms2",
    "fasta_file": "agave://data-tacc-work-wallen/sd2e/sample/sipros/VN_UniProt_FRC_0007.fasta"
  },
  "parameters": {
    "single_or_multi": "single",
    "silence_output": false
  },
  "notifications": [
    {
      "url":"https://requestbin.agaveapi.co/znsz7azn?job_id=${JOB_ID}&status=${JOB_STATUS}",
      "event":"*",
      "persistent":true
    },
    {
      "url":"wallen@tacc.utexas.edu",
      "event":"FINISHED",
          "persistent":false
    },
    {
      "url":"wallen@tacc.utexas.edu",
      "event":"FAILED",
      "persistent":false
    }
  ]
}
